In [149]:
import pandas as pd

In [150]:
two_c_calc_df = pd.read_csv('./perf_2C_calc.csv')
two_c_calc_df.drop(two_c_calc_df.columns[-1], axis=1, inplace=True)
two_c_calc_df

              Func   Duration
0   u_scoring_func   0.075584
1   s_scoring_func   0.018125
2      calculation  13.669750
3   u_scoring_func   0.003083
4   s_scoring_func   0.004750
..             ...        ...
76  s_scoring_func   0.000541
77     calculation   6.322208
78  u_scoring_func   0.002500
79  s_scoring_func   0.000875
80     calculation  15.355500

[81 rows x 2 columns]

In [151]:
two_c_min_heap_df = pd.read_csv('./perf_2C_min_heap.csv')
two_c_min_heap_df.drop(two_c_min_heap_df.columns[-1], axis=1, inplace=True)
two_c_min_heap_df.describe()

          Duration
count  6624.000000
mean      0.000263
std       0.000538
min       0.000083
25%       0.000166
50%       0.000208
75%       0.000416
max       0.030125

In [152]:
three_c_calc_df = pd.read_csv('./perf_3C_calc.csv')
three_c_calc_df.drop(three_c_calc_df.columns[-1], axis=1, inplace=True)
three_c_calc_df

              Func    Duration
0   u_scoring_func    0.008167
1   s_scoring_func    0.000666
2      calculation    3.033500
3   u_scoring_func    0.001541
4   s_scoring_func    0.000458
..             ...         ...
91  s_scoring_func    0.000459
92     calculation    2.574792
93  u_scoring_func    0.002166
94  s_scoring_func    0.000417
95     calculation  123.524042

[96 rows x 2 columns]

In [153]:
three_c_min_heap_df = pd.read_csv('./perf_3C_min_heap.csv')
three_c_min_heap_df.drop(three_c_min_heap_df.columns[-1], axis=1, inplace=True)
three_c_min_heap_df.describe()

           Duration
count  28800.000000
mean       0.000135
std        0.000147
min        0.000041
25%        0.000084
50%        0.000125
75%        0.000167
max        0.012916

In [158]:
no_of_add_oeprations_per_calc_2c = len(two_c_min_heap_df) /len(two_c_calc_df[two_c_calc_df['Func']=='calculation'])
no_of_add_oeprations_per_calc_3c = len(three_c_min_heap_df) /len(three_c_calc_df[three_c_calc_df['Func']=='calculation'])

print(no_of_add_oeprations_per_calc_3c)
print(no_of_add_oeprations_per_calc_2c)

min_heap_concat = pd.concat([two_c_min_heap_df.describe()*no_of_add_oeprations_per_calc_2c, three_c_min_heap_df.describe()*no_of_add_oeprations_per_calc_3c],axis=1)
min_heap_concat.columns = ['2C_Min_Heap','3C_Min_Heap']
min_heap_concat = min_heap_concat.drop('count')
min_heap_concat

900.0
245.33333333333334

      2C_Min_Heap  3C_Min_Heap
mean     0.064571     0.121394
std      0.132102     0.132609
min      0.020363     0.036880
25%      0.040725     0.075611
50%      0.051027     0.112492
75%      0.102061     0.150284
max      7.390665    11.624426

In [159]:
c1 = two_c_calc_df[two_c_calc_df['Func']=='u_scoring_func'].describe()
c2 = two_c_calc_df[two_c_calc_df['Func']=='s_scoring_func'].describe()
c3 = two_c_calc_df[two_c_calc_df['Func']=='calculation'].describe()


c4 = three_c_calc_df[three_c_calc_df['Func']=='u_scoring_func'].describe()
c5 = three_c_calc_df[three_c_calc_df['Func']=='s_scoring_func'].describe()
c6 = three_c_calc_df[three_c_calc_df['Func']=='calculation'].describe()

concat = pd.concat([ c3,c6],axis=1)
concat.columns = [ '2c_calculation', '3c_calculation']

concat = pd.concat([concat, min_heap_concat],axis=1)
concat = concat.drop(['count','mean', 'std'])
concat

     2c_calculation  3c_calculation  2C_Min_Heap  3C_Min_Heap
min        0.450125        2.574792     0.020363     0.036880
25%        1.012063        4.615615     0.040725     0.075611
50%       11.280791       29.133458     0.051027     0.112492
75%       14.750250       45.649677     0.102061     0.150284
max       22.073208      123.524042     7.390665    11.624426

Observations
- calculation of scoring functions has very low values in quartiles => irrelevant
- contract calculation
  - 3C takes more time than 2C, median is nearly five times higher
  - in maxima the maxima of min heap could play a role
- min heap: low quartile values, maxima are however high. Relevant differences between 2c/3c only in maxima. 

Consequence
- of contract calculation, only the BRUTE-FORCE Recursion is time consuming. Other parts such as calculation of prefernce functions or the min heap operations can be ignored. 
- It might be worth investigating alternatives